<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loonies.exercisemanager" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/biaoti"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartPage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".ExerciseDialog"
            android:label="@string/title_activity_exercise_dialog"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".PlanPage"
            android:label="@string/title_activity_plan_page"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".ExcerciseByPlanPage"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_excercise_by_plan_page"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".AddAnItemToPlanPage"
            android:label="@string/title_activity_add_an_item_to_plan_page"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".ExerciseRecordingPage"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_exercise_recording_page"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".AddingPlanDialog"
            android:label="@string/title_activity_adding_plan_dialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ReviewPage"
            android:label="@string/title_activity_review_page"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".EditOxyPage"
            android:label="@string/title_activity_edit_oxy_page"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".EditStrnPage"
            android:label="@string/title_activity_edit_strn_page"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".EditInfoDialog"
            android:label="@string/title_activity_edit_info_dialog"
            android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>
